$font-primary: 'Open Sans Condensed', cursive;
$font-headder: 'Lakki Reddy', cursive;

h1 {
    font-family: 'Lakki Reddy', cursive;
    color: grey;
}
p {
    font-family: 'Open Sans Condensed', cursive;
    font-size: 30px;
}

.jumbotron h1 {
    font-family: 'Lakki Reddy', cursive;
    font-size: 80px;
}

.jumbotron {
    margin: 0;
}

.barimage {
    max-width: 100%;
}

.navbar {
    color: white;
}

.footer {
    font-family: "Open Sans Condensed", cursive;
}