h2 {
  font-family: "Dancing Script"; }

.passive {
  color: gray; }

h1, h3 {
  font-family: "Lakki Reddy", cursive;
  color: grey; }

p {
  font-family: "Open Sans Condensed", cursive;
  font-size: 30px; }

#accordion img {
  max-height: 300px; }

.card img {
  max-height: 500px; }

.row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.jumbotron h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
  height: 50px; }

.jumbotron h2 {
  text-align: right; }

.jumbotron {
  margin: 0;
  height: 100px;
  background-image: linear-gradient(to right, gray, #e9ecef, gray); }

.barimage {
  max-width: 100%;
  max-height: 2000px; }

.navbar {
  color: white; }

footer {
  font-family: "Lakki Reddy", cursive;
  background-image: linear-gradient(to right, gray, #e9ecef, gray); }

#spicePupsNavbar a {
  color: gray; }

#reserveModal .modal-header {
  background-color: #e9ecef; }

.modal-header {
  background-color: #e9ecef; }

li a {
  color: gray; }

.carousel-item img {
  width: auto;
  height: 350px;
  max-height: 350px; }
