h1 {
    font-family: 'Modak', cursive;
    color: grey;
}
p {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.jumbotron {
    font-family: 'Modak', cursive;
}

.barimage {
    max-width: 100%;
}